<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-..." crossorigin="anonymous">
    <title>Accueil</title>
</head>
<body>
<div class="container my-3 mx-3">

<h1>Bienvenue sur Medilabo</h1>
    <p>Pour accéder au service, il vous sera demandé de vous authentifier.</p>
<div class="row">
    <div class="col-2">
        <a href="/patients" class="btn btn-primary btn-sm">Accéder au service</a>
    </div>
</div>
</div>
</body>
</html>