<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-..." crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Détails Patient</title>
</head>
<body>
<div class="container">
    <h2 th:text="${patient.firstname + ' ' + patient.lastname}"></h2>
    <div class="row">
        <div class="col-2">
            <p>Nom</p>
        </div>
        <div class="col-8" th:text="${patient.lastname}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Prénom</p>
        </div>
        <div class="col-8" th:text="${patient.firstname}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Date de naissance</p>
        </div>
        <div class="col-8" th:text="${patient.birthdate}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Genre</p>
        </div>
        <div class="col-8" th:text="${patient.gender}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Adresse</p>
        </div>
        <div class="col-8" th:text="${patient.address}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Téléphone</p>
        </div>
        <div class="col-8" th:text="${patient.phoneNumber}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Risque de diabète</p>
        </div>
        <div class="col-8">
            <h5>
                <span id="risk-level"
                      th:switch="${patient.riskLevel}">
                    <span th:case="'NOT_APPLICABLE'" class="badge text-bg-secondary">NOT APPLICABLE</span>
                    <span th:case="'NONE'" class="badge text-bg-success">NONE</span>
                    <span th:case="'BORDERLINE'" class="badge text-bg-warning">BORDERLINE</span>
                    <span th:case="'IN_DANGER'" class="badge text-bg-danger">IN DANGER</span>
                    <span th:case="'EARLY_ONSET'" class="badge text-bg-danger">EARLY ONSET</span>
                </span>
            </h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1">
            <a class="btn btn-primary btn-sm" href="/patients">Retour</a>
        </div>
        <div class="col-1">
            <a th:href="@{/patients/edit/{id}(id=${patient.id})}" class="btn btn-primary btn-sm">Modifier</a>
        </div>
        <div class="col-2">
            <a th:href="@{/notes/add(id=${patient.id})}" class="btn btn-primary btn-sm">Ajouter une note</a>
        </div>
    </div>
    <div class="col-6 alert alert-secondary my-3" th:if="${noNotesError}">
        <p th:text="${noNotesError}"></p>
    </div>
    <div th:unless="${noNotesError}">
        <h5>Notes :</h5>
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="note : ${patient.notes}" th:text="${note.content}"></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>